header {
    text-align: center;
    background-color: lightgrey;
    height: 25px;
}
.formInput{
    text-align: center;
    display: block;
    margin: 15px;
    padding: 5px;
    align-content: center;
}

form{
    padding: 15px;
    margin: 15px;
    background-color: lightgrey;
}